{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Votre panier</h1>
        {% if dataPanier > 0 %}
            <div class="row mt-4">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header d-flex bg-dark text-white d-flex">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="mt-2">Contenu</h5>
                                    </div>
                                    <div class="col-4">
                                        <a class="btn btn-outline-primary mt-1 my-2" href="{{ path('product_index') }}">
                                            <i class="bi bi-shop"></i>
                                             Boutique</a>
                                    </div>
                                    <div class="col-4 text-end">
                                        <a href="{{ path("cart_delete_all") }}" class="btn btn-secondary mt-1"><i
                                                    class="bi bi-cart-x"></i> Vider </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="list-group list-group-flush">
                            {% for element in dataPanier %}
                                <li class="list-group-item d-flex">
                                    <div class="flex-fill mr-2">
                                        <img class="img-100 card-img-top zoom ms-2 img-fluid" style="height:75px; width:100px" src="{{ element.produit.image }}" alt="{{ element.produit.title }}">
                                        <small class="fw-bold">Dans le panier :</small>
                                        <small>{{ element.quantite }}</small>
                                    </div>
                                    <div class="flex-fill mr-2">
                                        <h5 class="mt-0 mb-0">{{ element.produit.title }}</h5>
                                        <small>{{ element.produit.title[:50] }}...</small>
                                        <div class="form-inline mt-2">
                                            <a href="{{ path("cart_add", {id: element.produit.id}) }}"
                                               class="btn btn-success"><i class="bi bi-cart-plus"></i> Ajouter</a>
                                            <a href="{{ path("cart_remove", {id: element.produit.id}) }}"
                                               class="btn btn-warning"><i class="bi bi-cart-dash"></i> Retirer</a>
                                            <a href="{{ path("cart_delete", {id: element.produit.id}) }}"
                                               class="btn btn-danger"><i class="bi bi-cart-x"></i> Supprimer</a>
                                        </div>
                                    </div>
                                    <div class="flex-fill mr-2 text-end fw-lighter">
                                        <small>Prix HT :</small>
                                        {{ element.quantite * element.produit.price }} €
                                    </div>
                                    <div class="flex-fill mr-2 text-end fw-bold">
                                        <small>Prix TTC :</small>
                                        {{ element.quantite * element.produit.price * 1.20 }} €
                                    </div>
                                </li>
                            {% else %}
                                <div class="alert alert-info">
                                    Votre panier est actuellement vide.
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <h5 class="card-header bg-dark text-white">Récapitulatif</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <div>Prix HT de la commande :</div>
                                <span>{{ total }} €</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <div><b>Prix TTC de la commande :</b></div>
                                <span><b>{{ total * 1.20 }} €</b></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-end">
                                <div>TVA à 20%</div>
                            </li>
                            <li class="list-group-item">
                                <p class="text-center">Mode de Paiement</p>
                                <input type="radio" id="credit_card" name="paiement" value="credit_card"
                                       checked>
                                <label for="credit_card">Carte bleue</label><br>
                                <input type="radio" id="paypal" name="paiement" value="paypal">
                                <label for="paypal">Paypal</label>
                            </li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-warning w-100">Procéder au paiement</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
