{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">

        <div class="border border-secondary border-3 rounded my-3 py-2 px-2">
            {% for thread in threadView %}
                <h3 class="fw-bold">{{ thread.subType.name | upper }}</h3>
                <h4>{{ thread.subject }}</h4>

                {% if thread.posts|length>0 %}
                    {% for post in thread.posts %}
                        <div class="border border-secondary border-2 rounded my-3 py-2 px-2">
                            <h5>{{ post.user.email }}</h5>
                            <h6>{{ post.createdAt|date('H:s d-m-Y') }}</h6>
                            <p>{{ post.content }}</p>
                            <div>
                                <a href="{{ path('upvote_add', {'id' : post.id}) }}"
                                   class="text-decoration-none mx-2 btn btn-success" title="Upvote"><i
                                            class="fa-solid fa-thumbs-up"></i> {{ post.upvote }}</a>
                                <a href="{{ path('downvote_add', {'id' : post.id}) }}"
                                   class="text-decoration-none mx-2 btn btn-danger" title="Downvote"><i
                                            class="fa-solid fa-thumbs-down"></i> {{ post.downvote }}</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="border border-secondary border-2 rounded my-3 py-2 px-2">
                        <p>Aucun message à voir par ici.</p>
                    </div>
                {% endif %}

                {% if app.user %}
                    <a class="btn btn-dark mt-3" href="{{ path('post_add') }}">{{ 'post.add'|trans }}</a>
                {% endif %}

            {% endfor %}
        </div>

    </div>
{% endblock %}
