{% extends 'base.html.twig' %}

{% block title %}{{ 'home.menu.type'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        {% if app.user %}
            <a class="btn btn-dark mt-3" href="{{ path('type_add') }}">{{ 'type.add'|trans }}</a>
        {% endif %}
        <div class="container">
            <div class="row">
                {% if types|length>0 %}
                    {% for type in types %}
                        <div class="text-center border col-6 border-secondary border-3 rounded my-3 py-2 px-2">
                            <h3 class="fw-bold">{{ type.name | upper }}</h3>
                            <p>{{ type.description|slice(0, 400) ~ '...' }}</p>
                            <a class="btn btn-outline-dark" href="{{ path('type_view', {'id': type.id}) }}">Voir les
                                sous rubriques</a>
                        </div>
                    {% endfor %}
                    {{ knp_pagination_render(types) }}
                {% else %}
                    <div class="border border-secondary border-3 rounded my-3 py-2 px-2">
                        <p>Aucune rubrique visible par ici.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
