{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">
        {% if app.user %}
            <a class="btn btn-dark mt-3" href="{{ path('subtype_add') }}">{{ 'subtype.add'|trans }}</a>
        {% endif %}

        <div class="border border-secondary border-3 rounded my-3 py-2 px-2">
            <h3 class="fw-bold">{{ typeView.name | upper }}</h3>
            <p>{{ typeView.description }}</p>

            {% if typeView.subtypes|length>0 %}
                {% for subtype in typeView.subtypes %}
                    <div class="border border-secondary border-2 rounded my-3 py-2 px-2">
                        <h4>{{ subtype.name }}</h4>
                        <p>{{ subtype.description|slice(0, 150) ~ '...' }}</p>
                        <a class="btn btn-outline-dark" href="{{ path('subtype_view', {'id': subtype.id}) }}">Voir les sujets</a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="border border-secondary border-2 rounded my-3 py-2 px-2">
                    <p>Aucune sous-rubrique visible par ici.</p>
                </div>
            {% endif %}

        </div>

    </div>
{% endblock %}
