{% extends 'base.html.twig' %}

{% block title %}Les produits
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div>
            <h2 class="body-color text-center text-white me-5 ms-5 mt-5 fw-bold p-3"><i class="fa-solid fa-store"></i>
                Bienvenue dans la boutique de la Nimes'Alerie ! <i class="fa-solid fa-store"></i></h2>
        </div>
        <div class="container text-center py-2">
            <h4 class="fw-lighter">Téléportation des articles en 24h maximum !</h4>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="card mb-4 px-5 py-5 text-center rounded-3">
                        <img class="img-100 card-img-top zoom" src="{{ product.cover }}" alt="{{ product.title }}">
                        <div class="card-body block-nav">
                            <h5 class="card-title fw-bold">{{ product.title }}</h5>
                            <div> Quantité en stock : {{ product.quantity }}</div>
                            <div class="row">
                                <div class="d-flex justify-content-between align-item-center mt-3">
                                    <a href="{{ path("cart_add", {id: product.id}) }}" class="col-4 btn btn-primary">
                                        <i class="bi bi-cart-plus"></i><br>
                                        Ajouter
                                    </a>
                                    <div class="col-4">
                                        <i class="bi bi-cash-stack"></i><br>
                                        <div class="nav-fontsize"> HT {{ product.price }} €</div>
                                        <div class="fw-bold"> TTC {{ product.price * 1.20 }} €</div>
                                    </div>
                                    <span class="h5"></span>
                                    <a href="{{ path('product_detail', {id: product.id}) }}"
                                       class="col-4 btn btn-danger">
                                        <i class="bi bi-box-seam"></i><br>
                                        Détails
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{# ICI FAIRE UNE BOUCLE AFFICHANT LES PRODUITS EN BASE DE DONNEES, IL FAUDRA LEUR DONNER DES CATEGORIES = SE BASER SUR L'EXAMEN SYMFONY AVEC FORUM #}
{# FAIRE LA GESTION DU PANIER ? CECI EST LA PAGE BOUTIQUE #}
{# CRUD POSSIBLE QUE POUR LE ROLE_ADMIN #}
