{% extends 'base.html.twig' %}

{% block title %}Les produits
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div>
            <h2 class="body-color text-center text-white me-5 ms-5 mt-5 fw-bold p-3"><i class="fa-solid fa-store"></i>
                Bienvenue dans la boutique de la Nimes'Alerie ! <i class="fa-solid fa-store"></i></h2>
        </div>
        <div class="container text-center py-2">
            <h4 class="fw-lighter">Téléportation des articles en 24 heures maximum ! Satisfait ou remboursé sous 30 jours !</h4>
        </div>
        <div class="row">
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <div class="container text-end">
                    <a class="btn btn-danger text-white p-2" href="{{ path('product_new') }}">
                        <i class="fa-solid fa-plus"> {{ 'product.index.new'|trans }}</i>
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            {% endif %}

            <div class="container text-end">
                <button class="btn btn-danger text-black" onclick="history.go(-1);"><i class="bi bi-skip-backward"></i> Précédent</button>
                <a class="btn btn-info my-2" href="{{ path('cart_index') }}">
                    <i class="bi bi-cart"></i>
                    Voir le panier </a>
            </div>
            {% for product in products %}
                <div class="col-md-4">
                    <div class="card mb-4 text-center rounded-3 p-5">
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <div class="container mb-4">
                                <h5 class="fw-bold text-center mb-2 pb-2">Gestion du produit :</h5>
                                <a class="logo-link" href="{{ path('product_edit', {'title': product.title}) }}">
                                    <i class="fas fa-pencil-alt"> Modifier cet article
                                    </i>
                                </a>
                                <a class="logo-link text-danger"
                                   href="{{ path('product_delete', {'title': product.title}) }}"
                                   onclick="return confirm('ATTENTION ! Êtes-vous sûr(e) de vouloir continuer ?')">
                                    <i class="fas fa-trash-alt"> Supprimer cet article
                                    </i>
                                </a>
                            </div>
                        {% endif %}

                        <img class="img-100 card-img-top img-fluid zoom ms-xl-2" style="height:250px; width:300px"
                             src="{{ product.cover }}" alt="{{ product.title }}">
                        <div class="card-body block-nav mt-3">
                            <h5 class="card-title fw-bold">{{ product.title }}</h5>
                            <div> Quantité en stock : {{ product.quantity }}</div>
                            <div class="row">
                                <div class="d-flex justify-content-between align-item-center mt-3">
                                    <a href="{{ path("cart_add", {id: product.id}) }}" class="col-4 btn btn-primary">
                                        <i class="bi bi-cart-plus"></i><br>
                                        Ajouter
                                    </a>
                                    <div class="col-4">
                                        <i class="bi bi-cash-stack"></i><br>
                                        <div class="nav-fontsize"> HT {{ product.price }} €</div>
                                        <div class="fw-bold"> TTC {{ product.price * 1.20 }} €</div>
                                    </div>
                                    <span class="h5"></span>
                                    <a href="{{ path('product_detail', {title: product.title}) }}"
                                       class="col-4 btn btn-danger">
                                        <i class="bi bi-box-seam"></i><br>
                                        Détails
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
