{% extends 'base.html.twig' %}

{% block title %}Les Articles !{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-6">
                <h2>{{ 'article.list'|trans }}</h2><br>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-info text-white" href="{{ path('articles_new') }}">
                    {{ 'article.index.new'|trans }}
                </a>
            </div>
        </div>
        <table class="table navbar-color table-bordered text-center table-hover">
            <thead>
            <tr>
                <th>{{ 'article.index.table.name'|trans }}</th>
                <th>{{ 'article.index.table.content'|trans }}</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if articles|length > 0 %}
                {% for article in articles %}
                    <tr>
                        <td>{{ article.name }}</td>
                        <td>{{ article.content }}</td>
                        <td>
                            <a class="logo-link" href="{{ path('articles_edit', {'name': article.name}) }}">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="logo-link text-danger"
                               href="{{ path('articles_delete', {'name': article.name}) }}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            <a class="logo-link" href="{{ path('articles_show', {'name': article.name}) }}">
                                <i class="far fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">{{ 'article.index.table.empty'|trans }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}
