{% extends 'base.html.twig' %}

{% block title %}La zone du forum !{% endblock %}

{% block body %}

    {% if app.user %}

        <div class="container mt-2 text-center">
        <div class="row justify-content-center text-center">
            <div class="card col-lg-8">
                <p class="text-uppercase fw-bold">Si vous voyez ce message, c'est que vous êtes connecté ! Le forum vous
                    est
                    ouvert !</p>
                <p>Vous pouvez créer vos sujets, rubriques ici !</p>
                <p>Participez activement à la communauté, c'est dès maintenant possible !</p>
                <p>Vous pouvez également retrouver vos postes grâce au bouton
                    'Poste'.</p>
                <p> Vous êtes connecté en tant que : {{ app.user.username }}. <a href="{{ path('app_logout') }}">Se
                        déconnecter</a></p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-6">
                <a class="btn btn-primary" href="{{ path('type_index') }}">{{ 'home.menu.type'|trans }}
                    <span class="sr-only">(current)</span>
                </a>
            </div>

            <div class="col-lg-6">
                <a class="btn btn-info text-white"
                   href="{{ path('post_view_by_user', {'id': app.user.id}) }}">{{ 'home.menu.post'|trans({'%email%' : app.user.email }) }}
                </a>
            </div>
        </div>
    {% else %}
        <div class="container mt-4 text-center">
            <div class="row justify-content-center text-center">
                <div class="card col-lg-8">
                    <p class="text-uppercase fw-bold">Section disponible pour les utilisateurs, inscrivez-vous
                        gratuitement
                        !</p>
                    <p>Base terrestre avec forum de communication ici !</p>
                    <p>Veuillez vous connecter pour participer au forum ou en voir simplement son contenu.</p>
                    <p>Une fois connecté vous pouvez également retrouver vos postes grâce au bouton 'Poste'.</p>
                </div>
            </div>
            <a class="btn btn-danger mt-4" href="{{ path('app_login') }}">Par ici !</a>
        </div>
    {% endif %}
    </div>

{% endblock %}
