<div class="sticky-top">

    {#    First NavBar #}

    <nav class="navbar navbar-expand-lg navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="fw-bold">
                <p>Appelez la base au numéro : 06.36.65.65.65</p>
            </div>

            <img class="rounded-3"
                 src="{{ asset('build/images/laika-logo.jpg') }}"
                 alt="logo">

            <div class="fw-bold">
                <p>la_nimes'alerie@mars.net</p>
            </div>

            <div class="fw-bold">
                <p><img class="rounded-3 navbar-color" src="{{ asset('build/images/rocket-top.png') }}" alt="logo">
                    Prochain lancement à : 10h10
                    <img class="rounded-3 navbar-color" src="{{ asset('build/images/rocket-top.png') }}" alt="logo"></p>
            </div>
            <div class="nav-item">
                <a class="nav-link py-1 pr-3" href="https://fr-fr.facebook.com/" target="_blank">
                    <i class="logo-color fa-brands fa-facebook-square"></i>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link py-1 pr-3" href="https://www.instagram.com/" target="_blank">
                    <i class="logo-color fa-brands fa-instagram"></i>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link py-1 pr-3" href="https://www.pinterest.com/" target="_blank">
                    <i class="logo-color fa-brands fa-pinterest"></i>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link py-1 pr-3" href="https://www.twitter.com/" target="_blank">
                    <i class="logo-color fa-brands fa-twitter"></i>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link py-1 pr-3" href="https://www.linkedin.com/" target="_blank">
                    <i class="logo-color fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>

    </nav>

    {#    Second NavBar #}


    <nav class="navbar navbar-expand-lg navbar-dark navbar-color">
        <div class="container">
            <a class="navbar-brand ms-5 me-5 fw-bold" href="{{ path('home') }}">
                <img class="rounded-3"
                     src="{{ asset('build/images/logo.png') }}"
                     alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav float-end me-5">
                <label>
                    <input type="text" class="form-control rounded-pill search-style text-center"
                           placeholder="Explorez l'espace !"
                           alt="barre de recherche" data-games-search>
                </label>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav d-flex justify-content-between w-100">
                    <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column" href="{{ path('home') }}">
                        <img class="rounded-3" src="{{ asset('build/images/home-logo.png') }}" alt="home-logo">
                        <span>Accueil</span></a>

                    <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column">
                        <img class="rounded-3" src="{{ asset('build/images/rocket-logo.png') }}" alt="rocket-logo">
                        <span>Nîmes Team</span></a>

                    <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column"
                       href="{{ path('product') }}">
                        <img class="rounded-3" src="{{ asset('build/images/cart-logo.png') }}" alt="cart-logo">
                        <span>Boutique</span></a>

                    <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column">
                        <img class="rounded-3 align-items-center" src="{{ asset('build/images/earth-logo.png') }}"
                             alt="earth-logo">
                        <span>Base Terrestre</span></a>

                    <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column">
                        <img class="rounded-3" src="{{ asset('build/images/spaceship-logo.png') }}"
                             alt="spaceship-logo">
                        <span>Base Spatiale</span></a>

                    <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column">
                        <img class="rounded-3" src="{{ asset('build/images/help-logo.png') }}"
                             alt="help-logo">
                        <span>Infos</span></a>

                    {#                <li class="nav-item active"> #}
                    {#                    <a class="btn btn-light btn-sm rounded-pill me-3" href="{{ path('app_register') }}">Inscription</a> #}
                    {#                </li> #}

                    {% if app.user %}
                        <a class="btn btn-custom-nav btn-sm btn-outline-dark col-xs-4 fw-bold d-flex flex-column"
                           href="{{ path('app_logout') }}">
                            <img class="rounded-3" src="{{ asset('build/images/connect-logo.png') }}"
                                 alt="disconnect-logo">
                            <span>Déconnexion</span></a>
                    {% else %}
                        <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column"
                           href="{{ path('app_login') }}">
                            <img class="rounded-3" src="{{ asset('build/images/connect-logo.png') }}"
                                 alt="connect-logo">
                            <span>Connexion</span></a>
                    {% endif %}

                </div>
            </div>
        </div>
    </nav>
</div>
