<div class="sticky-top">

    {# First NavBar #}

    <nav class="navbar navbar-expand-lg d-none d-lg-block navbar-dark bg-white">

        <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container" id="">
            <div class="row w-100">
                <div class="col-4 d-flex flex-row fw-bold navbar-collapse">
                    <span class="nav-fontsize">
                        Appelez la base ici : 06.36.65.65.65
                        <br>
                        Email : la_nimes'alerie@mars.net
                    </span>

                    <a class="navbar-brand d-flex ms-xl-5 py-0" href="{{ path('bonus_page') }}">
                        <span class="d-flex">
                            <img class="rounded-3"
                                 src="{{ asset('build/images/laika-logo.jpg') }}"
                                 alt="logo">
                        </span>
                    </a>
                </div>
                <div class="col-4 d-flex flex-row fw-bold navbar-collapse justify-content-center">
                    <span class="nav-fontsize text-center">
                        <img class="rounded-3 navbar-color"
                             src="{{ asset('build/images/rocket-top.png') }}" alt="logo">
                        Prochain lancement à :  <span id="demo"></span>
                        <img class="rounded-3 navbar-color" src="{{ asset('build/images/rocket-top.png') }}"
                             alt="logo">
                    </span>
                </div>
                <div class="col-4 navbar-collapse justify-content-end">
                    <div class="nav-item">
                        <a class="nav-link" href="https://fr-fr.facebook.com/" target="_blank">
                            <i class="logo-color fa-brands fa-facebook-square fa-2x"></i>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/" target="_blank">
                            <i class="logo-color fa-brands fa-instagram fa-2x"></i>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="https://www.pinterest.com/" target="_blank">
                            <i class="logo-color fa-brands fa-pinterest fa-2x"></i>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="https://www.twitter.com/" target="_blank">
                            <i class="logo-color fa-brands fa-twitter fa-2x"></i>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/" target="_blank">
                            <i class="logo-color fa-brands fa-linkedin fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {# Second NavBar #}

    <nav class="navbar navbar-expand-lg d-none d-lg-block navbar-color">
        <div class="container">
            <div class="row">
                <div class="col-4 d-flex flex-row navbar-collapse">
                    <a class="navbar-brand fw-bold"
                       href="{{ path('home') }}">
                        <img class="rounded-3"
                             src="{{ asset('build/images/logo.png') }}"
                             alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup"
                            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-nav float-end me-5 ms-3 py-4">
                        <label>
                            <input type="text" class="form-control rounded-pill search-style text-center"
                                   placeholder="Explorez l'espace !"
                                   alt="barre de recherche" data-product-search>
                        </label>
                    </div>
                </div>
                <div class="collapse d-flex navbar-collapse col-8" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column me-4 nav-icon-fontsize"
                           href="{{ path('home') }}">
                            <img class="rounded-3" src="{{ asset('build/images/home-logo.png') }}" alt="home-logo">
                            <span>L'Accueil</span></a>

                        <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column me-4 nav-icon-fontsize"
                           href="{{ path('nimes_team') }}">
                            <img class="rounded-3" src="{{ asset('build/images/rocket-logo.png') }}" alt="rocket-logo">
                            <span>La Nîmes Team</span></a>

                        <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column me-4 nav-icon-fontsize"
                           href="{{ path('product_index') }}">
                            <img class="rounded-3" src="{{ asset('build/images/cart-logo.png') }}" alt="cart-logo">
                            <span>La Boutique</span></a>

                        <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column me-4 nav-icon-fontsize"
                           href="{{ path('earth_base') }}">
                            <img class="rounded-3 align-items-center" src="{{ asset('build/images/earth-logo.png') }}"
                                 alt="earth-logo">
                            <span>La Base Terrestre</span></a>

                        <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column me-4 nav-icon-fontsize"
                           href="{{ path('space_base') }}">
                            <img class="rounded-3" src="{{ asset('build/images/spaceship-logo.png') }}"
                                 alt="spaceship-logo">
                            <span>La Base Spatiale</span></a>

                        <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column me-4 nav-icon-fontsize"
                           href="{{ path('articles_index') }}">
                            <img class="rounded-3" src="{{ asset('build/images/help-logo.png') }}"
                                 alt="help-logo">
                            <span>Les Articles</span></a>

                        {% if app.user %}
                            <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column nav-icon-fontsize"
                               href="{{ path('app_logout') }}">
                                <img class="rounded-3" src="{{ asset('build/images/connect-logo.png') }}"
                                     alt="disconnect-logo">
                                <span>Déconnexion</span></a>
                        {% else %}
                            <a class="btn btn-custom-nav btn-sm col-xs-4 fw-bold d-flex flex-column nav-icon-fontsize"
                               href="{{ path('app_login') }}">
                                <img class="rounded-3" src="{{ asset('build/images/connect-logo.png') }}"
                                     alt="connect-logo">
                                <span>Identifiez vous</span></a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<script>
    // Set the date we're counting down to
    let countDownDate = new Date("May 13, 2022 00:00:00").getTime();

    // Update the countdown every 1 second
    let x = setInterval(function () {

        // Get today's date and time
        let now = new Date().getTime();

        // Find the distance between now and the countdown date
        let distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo").innerHTML = days + "j " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the countdown is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>

{# Navbar mobile #}

<nav class="navbar navbar-color navbar-expand-lg navbar-light d-xl-none d-lg-none sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bold"
           href="{{ path('home') }}">
            <img class="rounded-3"
                 src="{{ asset('build/images/logo.png') }}"
                 alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown mt-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="logo-color text-uppercase fa-solid fa-hashtag"> Social media</i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item text-center" href="https://fr-fr.facebook.com/" target="_blank">
                                <i class="logo-color fa-brands fa-facebook-square"> Facebook</i>
                            </a>
                        </li>
                        <li><a class="dropdown-item text-center" href="https://www.instagram.com/" target="_blank">
                                <i class="logo-color fa-brands fa-instagram"> Instagram</i>
                            </a>
                        </li>
                        <li><a class="dropdown-item text-center" href="https://www.pinterest.com/" target="_blank">
                                <i class="logo-color fa-brands fa-pinterest"> Pinterest</i>
                            </a>
                        </li>
                        <li><a class="dropdown-item text-center" href="https://www.twitter.com/" target="_blank">
                                <i class="logo-color fa-brands fa-twitter"> Twitter</i>
                            </a>
                        </li>
                        <li><a class="dropdown-item text-center" href="https://www.linkedin.com/" target="_blank">
                                <i class="logo-color fa-brands fa-linkedin"> LinkedIn</i>
                            </a>
                        </li>
                    </ul>
                </li>
                <div class="text-center py-2 mt-3 mb-3">
                    <label>
                        <input type="text" class="form-control rounded-pill search-style text-center"
                               placeholder="Explorez l'espace !"
                               alt="barre de recherche" data-product-search-responsive>
                    </label>
                </div>
                <div class="row text-center">
                    <li class="nav-item justify-content-center col-4">
                        <a class="btn btn-custom-mob btn-sm fw-bold nav-mob-icon-fontsize mt-3 mb-2"
                           href="{{ path('home') }}">
                            <img class="rounded-3" src="{{ asset('build/images/home-logo.png') }}" alt="home-logo">
                            <span>L'Accueil</span>
                        </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="btn btn-custom-mob btn-sm fw-bold nav-mob-icon-fontsize mt-3 mb-2"
                           href="{{ path('nimes_team') }}">
                            <img class="rounded-3" src="{{ asset('build/images/rocket-logo.png') }}" alt="rocket-logo">
                            <span>La Nîmes Team</span>
                        </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="btn btn-custom-mob btn-sm fw-bold nav-mob-icon-fontsize mt-3 mb-2"
                           href="{{ path('product_index') }}">
                            <img class="rounded-3" src="{{ asset('build/images/cart-logo.png') }}" alt="cart-logo">
                            <span>La Boutique</span>
                        </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="btn btn-custom-mob btn-sm fw-bold nav-mob-icon-fontsize mt-3 mb-2"
                           href="{{ path('earth_base') }}">
                            <img class="rounded-3" src="{{ asset('build/images/earth-logo.png') }}"
                                 alt="earth-logo">
                            <span>La Base Terrienne</span>
                        </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="btn btn-custom-mob btn-sm fw-bold nav-mob-icon-fontsize mt-3 mb-2"
                           href="{{ path('space_base') }}">
                            <img class="rounded-3" src="{{ asset('build/images/spaceship-logo.png') }}"
                                 alt="spaceship-logo">
                            <span>La Base Spatiale</span>
                        </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="btn btn-custom-mob btn-sm fw-bold nav-mob-icon-fontsize mt-3 mb-2"
                           href="{{ path('articles_index') }}">
                            <img class="rounded-3" src="{{ asset('build/images/help-logo.png') }}"
                                 alt="help-logo">
                            <span>Les Articles</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        {% if app.user %}
                            <a class="btn btn-custom-mob btn-sm fw-bold nav-mob-icon-fontsize mt-3 mb-2"
                               href="{{ path('app_logout') }}">
                                <img class="rounded-3" src="{{ asset('build/images/connect-logo.png') }}"
                                     alt="disconnect-logo">
                                <span>Déconnexion</span>
                            </a>
                        {% else %}
                            <a class="btn btn-custom-mob btn-sm fw-bold nav-icon-fontsize mt-3 mb-2"
                               href="{{ path('app_login') }}">
                                <img class="rounded-3" src="{{ asset('build/images/connect-logo.png') }}"
                                     alt="connect-logo">
                                <span>Identifiez vous</span>
                            </a>
                        {% endif %}
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>



