{% extends 'base.html.twig' %}

{% block title %}Les Utilisateurs !{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-6">
                <h2 class="bg bg-danger body-color text-center p-2 text-white fw-bold">{{ 'user.list'|trans }}</h2><br>
                <p> Vous êtes connecté en tant que : {{ app.user.username }}.</p>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-info p-2 text-white" href="http://localhost:4200/dashboard" target="_blank">
                    Tableau de bord
                </a>
{#                <a class="btn btn-danger text-white p-2" href="{{ path('user_new') }}">#}
{#                    {{ 'user.index.new'|trans }}#}
{#                </a>#}
            </div>
        </div>
        <table class="table navbar-color table-bordered text-center table-hover">
            <thead>
            <tr>
                <th>{{ 'user.index.table.firstName'|trans }}</th>
                <th>{{ 'user.index.table.lastName'|trans }}</th>
                <th>{{ 'user.index.table.email'|trans }}</th>
                <th>{{ 'user.index.table.telephone'|trans }}</th>
                <th>{{ 'user.index.table.birthAt'|trans }}</th>
                <th>{{ 'user.index.table.city'|trans }}</th>
                <th>{{ 'user.index.table.country'|trans }}</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if users|length > 0 %}
                {% for user in users %}
                    <tr>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.telephone }}</td>
                        <td>{{ user.birthAt|date('d-m-Y') }}</td>
                        <td>{{ user.city }}</td>
                        <td>{{ user.country }}</td>
                        <td>
                            <a class="logo-link"
                               href="{{ path('user_edit', {'id': user.id}) }}"
                            ><i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="logo-link text-danger"
                               href="{{ path('user_delete', {'id': user.id}) }}" onclick="return confirm('ATTENTION ! Êtes-vous sûr(e) de vouloir continuer ?')"
                            ><i class="fas fa-trash-alt"></i>
                            </a>
                            <a class="logo-link"
                               href="{{ path('user_show', {'id': user.id}) }}"
                            ><i class="far fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">{{ 'user.index.table.empty'|trans }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}
