{% extends 'base.html.twig' %}

{% block title %}
    {{ 'user.show.title'|trans({'%name%': user.firstName}) }}
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">
                <div class="card border-0. w-100">
                    <div class="card-body">
                        <h5 class="card-title"><div class="fw-bold underline text-uppercase">Email :</div> {{ user.email }}</h5>
                        <div class="card-text"><div class="fw-bold underline text-uppercase">Nom de famille :</div> {{ user.lastName }}</div>
                        <div class="card-text"><div class="fw-bold underline text-uppercase">Prénom :</div> {{ user.firstName }}</div>
                        <div class="card-text"><div class="fw-bold underline text-uppercase">Adresse Postale :</div> {{ user.address }}</div>
                        <div class="card-text"><div class="fw-bold underline text-uppercase">Seconde adresse :</div> {{ user.secondAddress }}</div>
                        <div class="card-text"><div class="fw-bold underline text-uppercase">Date de naissance :</div> {{ user.birthAt|date('d-m-Y') }}</div>
                        <div class="card-text"><div class="fw-bold underline text-uppercase">Ville :</div> {{ user.city }}</div>
                        <div class="card-text"><div class="fw-bold underline text-uppercase">Pays :</div> {{ user.country }}</div>
                        <div class="card-text"><div class="fw-bold underline text-uppercase">Numéro de téléphone :</div> {{ user.telephone }}</div>
                        <a class="btn btn-outline-primary my-2" href="{{ path('user_index') }}">
                            {{ 'user.home'|trans }} </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

